/**
 * Projet Final Phtociti
 * Étudiant: Rafael De Mendonça
 * Date: 2020-04-10
 */

ul.list-group{
    clear: both;
    display: block;
    content: "";
}

.imgWords{
    display: inline;
    list-style: none;
    float: left;
    max-height: 275px;
    max-width: 150px;

}

.hidden{
    display: none;
}
.modal-style{
    width: 900px;
    height: 400px;
    background-color: rgba(211,211,211,0.75);
}
/*Changez couleur de fond*/
.btn-blanc{
    color: black;
    background-color: white;
    border-color: #343a40;
}
.btn-bleu{
    color: white;
    background-color: cornflowerblue;
    border-color: #343a40;
}
.btn-navy{
    color: white;
    background-color: navy;
    border-color: #343a40;
}
.btn-gris{
    color: white;
    background-color: lightslategrey;
    border-color: #343a40;
}
.btn-rose{
    color: white;
    background-color: rosybrown;
    border-color: #343a40;
}


